body{
    background-image: url("images.jpg");
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:space-evenly;
    flex-flow: column wrap;
    min-height: 100%;
    font-family: "Roboto";
    color: black;
    background: white;
    margin: 50px;
    } 
    
    .container {
      background:white;
      border-radius: 5px;
      box-shadow: 1.5px gray;
      padding: 20px;
      width:500px;
      background-color: white;
      text-decoration: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      color: #ff7b25;
    }
    #contain
 {
 display:flex;
 align-items: stretch;
 align-content : space-between;
 justify-content: space-around;
 flex-direction: row-reverse;
 flex-wrap: wrap;
 /*background-color: white;*/
 }
    button { 
        text-decoration: none; 
        text-align: center; 
        display: inline-flex; 
        align-self: auto;
        font-size: 16px; 
        background-color: lightslategray;  
        color: white;  
        border: 2px solid ; 
        padding: 8px 16px; 
        margin: 4px 2px; 
    } 
    button:hover { 
        background-color: white; 
        color: black; 
    }
    #myProgress {
        width: 20%;
        background-color: #ddd;
        border-radius: 5px 5px;
        orientation: vertical;
      }
      
      #myBar {
        width: 0%;
        height: 20px;
        background-color: #ff7b25;
        text-align: center;
        line-height: 20px;
        color: white;
      }
      #b
      {
          display:none;
          text-decoration: none;
      }