body{
    background-color: rgb(0, 0, 255);
 color :white;
}
.contain
{
 display: flex;
 align-items: baseline;
 justify-content: space-between;
 flex-direction: row;
 flex-wrap: nowrap;
 margin : 0px 130px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:space-evenly;
    flex-flow: column wrap;
    min-height: 50%;
    font-family: "Roboto";
    color: black;
    background: white;
    margin : 50px 120px;
    } 
    
    .container {
      background:white;
      border-radius: 5px;
      box-shadow: 1.5px gray;
      padding: 20px;
      width:500px;
      background-color: white;
      text-decoration: none;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 20px;
      color: #ff7b25;
    }
button { 
    text-decoration: none; 
    text-align: center; 
    display: inline-flex; 
    font-size: 16px; 
    background-color: white;  
    color: rgb(79, 79, 235);    
    border-radius: 5px;
    padding: 8px 16px; 
    margin: 4px 2px; 
} 
button:hover { 
    background-color: white; 
    color: black; 
    text-decoration: none; 
}
.form-popup {
    display: none;
    position: fixed;
    top: 90px;
    right: 140px;
    border: 3px solid #f1f1f1;
    
  }
  

  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
  }
  
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 5px;
    padding-top: 15px;
    margin: 5px 0 22px 0;
    border: none;
    border-bottom: 1px solid black;
    background: white;
  }
  
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .form-container .btn {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  /*#close
  {
  font-size:24px; 
  margin-left: 276px;
  text-decoration: none;
  } */
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .popup {
    display: none;
    position: fixed;
    top: 90px;
    right: 140px;
    border: 3px solid #f1f1f1;
    background-color: white;
    width: 120px;
  }
  .b-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  .b-container h3
  {
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  margin: 5px 0 22px 0;
  border: none;
  border-bottom: 1px solid black;
  background: white;
  }
   .btn {
    background-color: blue;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  .clos {
    position: absolute;
    top: 1px;
    right: 5px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .clos:hover,
  .clos:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  #cookie-law { 
    max-width:940px;
    background: white; 
    margin:10px auto 0; 
    border-radius: 17px;
}
 
#cookie-law p { 
    padding:10px; 
    font-size:1.2em; 
    font-weight:bold; 
    text-align:center; 
    color: black; 
    margin:0;
}
a
{
    text-decoration: none;
}